:root{
  --background-color-home: #383838;
  --background-color-website: #2e2e2e;
  --text-color: #acacac;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--text-color);
}

/* --- SECCIÓN HEADER --- */

nav {
  position: fixed; 
  top: 0;         
  left: 0;   
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: var(--background-color-home);
}

main, footer{
  min-height: 100vh;
  background-color: var(--background-color-website);
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* --- SECCIÓN HOME --- */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background-color: var(--background-color-home);
}

.section-home {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;      
}

.section-home h1 {
  font-size: 48px;      
  line-height: 1.2;      
  margin-bottom: 20px;   
}

.section-home p {
  font-size: 24px;     
  color: #27e6ec;       
}